{% sw_extends '@Storefront/storefront/component/product/card/wishlist.html.twig' %}

{% block component_product_wishlist_button %}
    <button
        class="product-wishlist-{{ productId }} product-wishlist-action{% if appearance == 'circle' %}-circle{% endif %} product-wishlist-not-added product-wishlist-loading"
        title="{{ "zentheme.general.toggleWishlist"|trans|sw_sanitize }}"
        {% if tooltip %}
            data-toggle="tooltip"
            data-placement="{{ tooltipPlacement ?: 'top' }}"
        {% endif %}
        data-add-to-wishlist="true"
        data-add-to-wishlist-options="{{ addToWishlistOptions|json_encode }}"
    >
        {{ block('component_product_wishlist_icon') }}
    </button>
{% endblock %}